# Arithmatic and Logical Operators

The main factor that led to the invention of Computers was the search to simplify Mathematical Operations. Every computer language provides extensive support for wide range of arithmatic operations. Python's arithmatic operators are superset of those in `C`.

Let's have look at some of operations...

## Arithmatic Operators

In [21]:
4+3

7

In [32]:
'hi'+' '+'how are you'

'hi how are you'

In [37]:
'c' + 1

TypeError: Can't convert 'int' object to str implicitly

In `C`, `char` is equalent to `uint8` and arithmatic operations can be done. In Python, it's not the case. Thus trying to do so raises a `TypeError`

In [22]:
4-3

1

In [23]:
4/3

1.3333333333333333

Note that division results in floating point number, unlike `C`. This behaviour is default from Python 3. Earlier version behaved in the same way as `C`.

In [24]:
4//3

1

In [27]:
5.9//3.0

1.0

`//` operator results in integer division, it rounds down the result to nearest integer

In [34]:
4*5

20

In [35]:
'hi'*2

'hihi'

In [28]:
4**3

64

In [29]:
4**0.5

2.0

`**` operator is Power operator. `a**b` gives `a` raised to the power `b`

In [38]:
5%4

1

All other arithmatic operators and bitwise operators and comparision operators that are present in `C` are supported. But the Logical Operators differs from `C`.

## Logical Operators - `and`, `or` and `not`

Before starting with Logical Operators, note that `True` and `False` are boolean primitivies in Python as opposed to `true` and `false` in `C++`,`Java` and `C#`

-----------
**Note**: 
- In Python, Single line comments start with `#`
- Multiline comments start end end with triple quotes, i.e., `'''`

**Example**

```python
      # This is a single line comment
      '''This is 
        a multi-
        line comment'''
```

In [43]:
# Initialize 2 integer variables
a = 20
b = 10

In [44]:
a == 20 and b == 10

True

In [45]:
a is 20 or b is 0

True

In [46]:
not a == 20

False